$main: #FFFFFF;
$secondary: #2196F3;
$secondary-light: #4ea9f4;
$third: #F1FCFF;
$background: #E5E5E5;

$unselected: #9ABBCE;

$main-font: #4A4A4A;
$secondary-font: #A0B0B9;
$mainFontFamily: 'Open Sans', sans-serif;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;




