@import '../../assets/scss/vars';

.button {
    background-color: $secondary;
    border-color: $secondary;
    color: $main;
    padding: 15px 20px;
    height: auto;
}
.button:not(:disabled) {
    &:hover, &:active, &:focus-visible {
        background-color: $secondary-light;
        color: $main;
        border-color: $secondary-light;
    }
}
.button > span {
    text-transform: uppercase;
    font-family: $mainFontFamily;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
}
.button--hiden {
    display: none;
}