@import '../../assets/scss/vars';

.card {
    font-family: $mainFontFamily;
    font-weight: 600;
    background-color: $main;
    padding: 26px 20px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px #0000001A;
}
.card > div,
.card > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card__header {
    margin-bottom: 20px;
    align-items: center;
}
.card__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &:first-child {
        margin-bottom: 10px;
    }
}
.card__list > li:nth-child(2) {
    width: 20%;
}
.card__itemTitle {
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $secondary-font;
    margin: 0;
}
.card__itemInfo {
    font-size: 1.15rem;
    line-height: 21px;
    color: $main-font;
}
.card__price {
    font-size: 2rem;
    line-height: 24px;
    color: $secondary;
}