@import '../../assets/scss/vars';

.sorting {
    display: flex;
}
.sorting__btn {
    padding: 15px;
    box-sizing: content-box !important;
    height: 20px;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
}
.sorting__btn--select {
    background-color: $secondary !important;
}
.sorting__btn--select > span:last-child {
    color: $main;
}
.sorting__btn > span {
    font-family: $mainFontFamily;
    color: $main-font;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    height: 20px;
    display: inline-block;
}
.sorting__btn:hover:not(.sorting__btn--select) > span {
    color: $secondary;
}